html {
    text-align: center;
    background: linear-gradient(to right, red, orange, yellow, green, blue, purple);
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 10px;
}
footer {
    font-size: 0.9rem;
}
img {
    width: 200px;
    height: auto;
}
a {
    font-size: 1.1rem;
    color: white;
    transition: font-size 0.2s ease-in-out;
}
a:hover {
    text-decoration: underline;
    font-size: 1.3em;
    cursor: pointer;
}
button {
    color: aliceblue;
    background-color: brown;
    border-radius: 30px;
    padding: 10px;
    transition: font-size 0.2s ease-in-out;

}
button:hover {
    font-size: 1.3em;
    color: rgb(241, 245, 248);
    background-color: rgb(211, 45, 45);
    cursor: pointer;
}